.grow {
    transition: all 0.5s ease-out;
}

.grow:hover {
    transform: scale(1.1);
}

.cool-link {
    display: inline-block;
    color: rgb(104, 104, 104);
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(0, 0, 0);
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.success {
    color: white;
}

.row-header {
    margin: 0px auto;
    padding: 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.offset-3 {
    margin-left: 27% !important;
}

.carousel {
    background: #101820ff;
}

.carousel-item {
    height: 500px;
}

.modal .modal-header {
    background: #101820ff;
    color: floralwhite;
}

.modal .modal-header .close {
    color: floralwhite;
}

.modal .modal-body {
    background: rgb(226, 255, 241);
    border: 0;
}

.btn-primary {
    color: white;
    background-color: #101820ff !important;
    border: none;
    border-color: #101820ff !important;
}

.modal .modal-footer {
    background: #006b38ff;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carouselButton,
#carouselButton2 {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

body {
    padding: 50px 0px 0px 0px !important;
    z-index: 0 !important;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.heading {
    color: white;
    padding: 1.5%;
}

.navbar-dark {
    background-color: #101820ff !important;
}

.jumbotron {
    padding: 70px 30px 70px 30px !important;
    margin: 0px auto !important;
    background-color: #006b38ff !important;
    color: floralwhite;
    border-radius: 0px !important;
}

.jumbotron img {
    height: 150px;
    width: 150px;
}

.media img {
    height: 150px;
    width: 150px;
}

.bg-primary {
    background-color: #101820ff !important;
}

address {
    font-size: 80%;
    margin: 0px;
}

.footer a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.footer a:hover {
    text-decoration: none;
    cursor: pointer;
    color: rgb(116, 192, 155);
}

.footer {
    background-color: #101820ff;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: white;
}

.breadcrumb {
    color: white !important;
    background-color: rgb(30, 38, 46) !important;
    width: 100%;
    margin-top: 10px;
}

@media (max-width:575px) {
    .reservebtn {
        margin-top: 10%;
    }
    .h3,
    h3 {
        font-size: 1rem !important;
    }
    .h2,
    h2 {
        font-size: 1.5rem !important;
    }
    p {
        font-size: 0.8rem;
    }
    .badge {
        font-size: 50% !important;
    }
}