.row-header {
    margin: 0px auto;
    padding: 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.offset-3 {
    margin-left: 27% !important;
}

.carousel {
    background: #512DA8;
}

.carousel-item {
    height: 300px;
}

.modal .modal-header {
    background: #512da8;
    color: floralwhite;
}

.modal .modal-header .close {
    color: floralwhite;
}

.modal .modal-body {
    background: #d1c4e9;
}

.modal .modal-footer {
    background: #9575cd;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

body {
    padding: 50px 0px 0px 0px !important;
    z-index: 0 !important;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.heading {
    color: white;
    padding: 1.5%;
}

.navbar-dark {
    background-color: #512DA8 !important;
}

.jumbotron {
    padding: 70px 30px 70px 30px !important;
    margin: 0px auto !important;
    background-color: #9575CD !important;
    color: floralwhite;
    border-radius: 0px !important;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}